.button {
    background-color: #222;
    color: #FFF;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;

}

.button:active {
    background-color: #ffbb33;
}

.button:active {
    background-color: #ffbb33;
}