.btn {
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
}

.default {
    background-color: #fafafa;
    color: #000000;
}

.selected {    
    background-color: #000000;
    color: #ffbb33;
}
